{{#each this}}
<section class="card">
    <div class="card-title"><span class="comment-header">{{user.username}} on {{format_date created_at}}</span></div>

    <div class="card-body">
        <p>{{comment_text}}</p>
    </div>
</section>
{{/each}}