<section class="hide" id="create-post">
    <h2>Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post_text">Content</label>
            <textarea id='post-text' name='post-text'></textarea>
        </div>
        <button type="submit">Create</button>
    </form>
</section>
<section class="new-post-btn">
    <button onclick="unhideCreatePost()" id="new-post-btn"> + New Post </button>
</section>

{{#if posts.length}}
<section class="dash-post">
    <h2>Your Posts</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        {{> post-info post}}
        {{/each}}
    </ul>
    {{/if}}

    <script src="/javascript/add-post.js"></script>