<form class="login-form">
    <section>
        <div>
            <h2>Login</h2>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" />
        </div>
        <div>
            <button type="submit">Login!</button>
        </div>
        <div>
            <a href="/signup">Sign up instead</a>
        </div>
</form>

<script src="/javascript/login.js"></script>