<form class="signup-form">
    <section class="sign-up-wrapper">
        <div class="title-box">
            <h2>Sign Up</h2>
        </div>
        <div class="form-controls">
            <label for="username">Username</label>
            <input type="text" id="username-signup" />
            <label for="password">Password</label>
            <input type="password" id="password-signup" />
            <button type="submit">Sign Up!</button>
            <div>
                <a href="/login">Login instead</a>
            </div>
        </div>
    </section>
</form>

<script src="/javascript/sign-up.js"></script>