{{> post-info post }}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

<article>
    <div class="comment-list-title">
        <h2>Comments</h2>
    </div>
    <div class="comment-list">
        {{> comments post.comments}}
    </div>
</article>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}